/Ex2/nbproject/private/
/Ex2/build/
/Ex3/nbproject/private/
/Ex3/build/
/Ex4/nbproject/private/
/Ex4/build/
/Lab2_Ex1/nbproject/private/
/Lab2_Ex2/nbproject/private/
/Lab2_Ex3/nbproject/private/
/Lab2_Ex5/nbproject/private/
/Lab2_Ex1/build/
/Lab2_Ex2/build/
/Lab2_Ex3/build/
/Lab2_Ex5/build/
/Lab3_Ex1/nbproject/private/
/Lab3_Ex1/build/
/Lab3_Ex2/nbproject/private/
/Lab3_Ex2/build/
/Lab3_Ex3/nbproject/private/
/Lab3_Ex3/build/
